h1{
    font-family: 'Nanum Brush Script', cursive;
    font-size: 70px;
    text-align: center;
    background-color: white;
    margin-top:5%;
}
.button{
    font-family: 'Nanum Brush Script', cursive;
    position: relative;
    left: 80%;
    margin: 5% 0;
    font-size: 30px;
    width: 20%;
}
.blue{
    background-color: skyblue;
    border-radius:10%;
}
.yel{
    background-color: yellow;
    border-radius: 10%;
}
.pink{
    background-color: pink;
    border-radius:10%;
}
.content{
    padding: 70px 5%;
}
.card{
    margin-bottom: 5%;
    background-color: rgb(216, 216, 216);
    width: 40%;
    position: relative;
    border: solid black 3px;
    border-radius: 5%;
    text-align: center;
}
img{
   width: 350px;
   padding: 10px;
}
.info{
    opacity:0;
    position:absolute;
    width: 330px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.what{
    font-family: 'Nanum Brush Script', cursive;
    margin-bottom: 10px;
    font-size: 50px;
    background-color: gray;
    border-radius: 10px;
}
.when{
    font-family: cursive;
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
}
.note{
    font-family: 'Jeju Gothic', sans-serif;
    grid-column: 2;
    font-size: 20px;
    color: black;
}
.dot{
    width: 150px;
    height: 40px;
    background-color: black;
    position: absolute;
    right: -40%;
    top: 40%;
    z-index:10;
}
.line{
    background-color: black;
    position: absolute;
    left: 50%;
    top: 48%;
    width: 8px;
    height: 345%;
    z-index:5;
}
.card:nth-child(even){
    margin-left: 60%;
}
.card:nth-child(even) .dot{
    left: -39%;
}
.card:hover img{
    opacity:0.3;
}
.card:hover .info{
    opacity:1;
}
.house{
    font-family: fantasy;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 5%;
    bottom: 5%;
    color: black;
}
@media(max-width: 1000px){
    .card{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 10%;
    }
    .line{
        display:none;
    }
    .card:nth-child(even){
        margin-left: 10%;
        margin-bottom: 10%;
    }
    .dot{
        display:none;
    }
}