body {
  margin:0;
}
a {
  text-decoration:none;
}
h1 {
  font-size:45px;
  text-align:center;
  border-bottom:1px solid gray;
  padding:20px;
  margin:0;
}
ol {
  border-right:1px solid gray;
  width:100px;
  margin:50px;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol {
  padding-left:0;
}
#grid #article{
  padding:30px;
}